openapi: 3.0.1
info:
  title: ANPR/AppIO - Integrazione AppIO
  description: |-
    API rese disponibili da ANPR/AppIO al Catalogo delle API previsto nel modello di interoperabilità delle pubbliche amministrazioni accessibile da INAD.
  contact:
    name: AgID - Agenzia per l'Italia Digitale
    url: https://www.agid.gov.it/
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  version: 1.0.0
servers:
  - url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
    description: Generated server url
  
paths:
  /{codice_fiscale}/receive_status_change:
    put:
      description: ricevi lo stato di un CITTADINO

      parameters:
        - name: codice_fiscale
          in: path
          required: true          
          description: codice fiscale del CITTADINO per cui è chiesta verifica dello stato
          schema: 
            $ref: '#/components/schemas/Codice_Fiscale'
        - name: citizen_status
          in: query
          required: true
          description: nuovo stato del CITTADINO
          schema:
            $ref: '#/components/schemas/Citizen_Status'
        - name: change_status_reason
          in: query
          required: true
          description: motivazione del cambiamento di stato del CITTADINO
          schema:
            $ref: '#/components/schemas/Citizen_Change_Status_Reason'
        - name: request_code
          in: query
          description: request code generato da INAD per l'azione richiesta da INAD, ANPR o AppIO che ha determinato il cambiamento di stato del CITTADINO
          schema: 
            $ref: '#/components/schemas/Request_Code'
        
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO          
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ACK'
        '400':
          description: BAD_REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '403':
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'        
        '500':
          description: INTERNAL_SERVER_ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '503':
          description: SERVICE_UNAVAILABLE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'

  /{codice_fiscale}/receive_changed_email:
    put:
      description: ricevi cambiamento email di contantto di un CITTADINO

      parameters:
        - name: codice_fiscale
          in: path
          required: true          
          description: codice fiscale del CITTADINO per cui è chiesta verifica dello stato
          schema: 
            $ref: '#/components/schemas/Codice_Fiscale'
        - name: email
          in: query
          required: true
          description: nuovo stato del CITTADINO
          schema:
            $ref: '#/components/schemas/Email'

      responses:
        '200':
          description: riscontro sullo stato del CITTADINO          
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ACK'
        '400':
          description: BAD_REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '403':
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'        
        '500':
          description: INTERNAL_SERVER_ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '503':
          description: SERVICE_UNAVAILABLE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'

  /receive_changed_digital_addresses:
    put:
      description: ricevi variazioni di domicili digitali delle ultime 24h

      requestBody:
        content:          
          application/json:
            schema:
              $ref: '#/components/schemas/List_Changed_Digital_Address'

      responses:
        '200':
          description: riscontro sullo stato del CITTADINO          
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ACK'
        '400':
          description: BAD_REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '401':
          description: UNAUTHORIZED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '403':
          description: FORBIDDEN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'        
        '500':
          description: INTERNAL_SERVER_ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'
        '503':
          description: SERVICE_UNAVAILABLE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errore'

components:
  schemas:
    Errore:
      required:
        - status
        - type
      type: object
      properties:
        status:
          type: string
          description: Codice di errore
          example: <HTTP_CODE>
          enum:
            - '400'
            - '401'
            - '403'
            - '404'
            - '500'
            - '503'

    Codice_Fiscale: 
      type: string
      pattern: /^(?:[A-Z][AEIOU][AEIOUX]|[B-DF-HJ-NP-TV-Z]{2}[A-Z]){2}(?:[\dLMNP-V]{2}(?:[A-EHLMPR-T](?:[04LQ][1-9MNP-V]|[15MR][\dLMNP-V]|[26NS][0-8LMNP-U])|[DHPS][37PT][0L]|[ACELMRT][37PT][01LM]|[AC-EHLMPR-T][26NS][9V])|(?:[02468LNQSU][048LQU]|[13579MPRTV][26NS])B[26NS][9V])(?:[A-MZ][1-9MNP-V][\dLMNP-V]{2}|[A-M][0L](?:[1-9MNP-V][\dLMNP-V]|[0L][1-9MNP-V]))[A-Z]$/i

    Citizen_Status:
      type: string
      enum:
        - citizenNotPresent
        - digitalDomicileNotPresent
        - inCharge
        - verify
        - confirmationRequestSent
        - awaitingPublication
        - waitingOfficeCancellation
        - digitalDomicilePresent
    
    Email:
      type: string
      pattern: ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$

    Digital_Address:  
      $ref: '#/components/schemas/Email'

    Request_Code:
      type: string
      pattern: ^(INAD|ANPR|APPIO)_[0-9]{10,10}
  
    ACK:
      type: string
      enum:
        - chargeMade

    Citizen_Change_Status_Reason:
      type: string
      enum:
        - citizenRegistration
        - electionRequest
        - changeRequest
        - voluntaryCancellationRequest
        - startVerification
        - OKVerificationForElection
        - OKVerificationForChange
        - KOVerificationForElection
        - KOVerificationForChange
        - electionConfirmed
        - changeConfirmed
        - after90dd
        - electionAbolition
        - changeAbolition
        - electionPubblished
        - changePubblished
        - voluntaryCancellationPubblished
        - officeCancellationPubblished
        - officeCancellation
        - after30dd
        - specialCaseCancellation

    List_Changed_Digital_Address:
      type: array
      items:
        type: object
        required:
          - codice_fiscale
          - action
        properties:
          codice_fiscale:
            $ref: '#/components/schemas/Codice_Fiscale'
          digital_address:
            $ref: '#/components/schemas/Digital_Address'
          action: 
            type: string
            enum:
              - insert
              - update
              - delete