openapi: 3.0.1
info:
  title: ANPR/AppIO - Integrazione AppIO
  description: |-
    API rese disponibili da ANPR/AppIO per permettere ad INAD di notificare
    le variazioni dei domicili digitali.

  contact:
    name: AgID - Agenzia per l'Italia Digitale
    url: https://www.agid.gov.it/
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  version: 1.0.0
  termsOfService: https://www.agid.gov.it/
  x-summary: Notifica variazioni sui domicili digitali.

servers:
  - url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
    description: Generated server url
tags:
  - name: ANPR
    description: |-
      Operazioni associate all'ANPR
  - name: app-io
    description: |-
      Operazioni associate all'app-io
  - name: bulk
    description: |-
      Operazioni bulk
  - name: INAD
    description: API destinata ad INAD
    externalDocs:
      description: API reference
      url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
paths:
  /status: {}
  /notifiche/variazione/domicilio:
    post:
      description: |-
        Ricevi da INAD una variazione di stato di un CITTADINO.

        [UC007](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc007---notifica-cambio-di-stato-del-cittadino)
      tags:
      - INAD
      operationId: post_receive_status_change
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                codice_fiscale:
                  $ref: '#/components/schemas/CodiceFiscale'
                citizen_status:
                  $ref: '#/components/schemas/CitizenStatus'
                reason:
                  $ref: '#/components/schemas/CitizenChangeStatusReason'
                request_code:
                  $ref: '#/components/schemas/RequestCode'

      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /notifiche/variazione/domicilio/email:
    post:
      description: |-
        Ricevi da INAD una variazione dell'email di contatto del CITTADINO.

        [UC008](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc008---inoltro-aggiornamento-email-di-contatto)
      operationId: post_receive_changed_email
      tags:
        - INAD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                codice_fiscale:
                  $ref: '#/components/schemas/CodiceFiscale'
                email:
                  $ref: '#/components/schemas/Email'
      responses:
        '200':
          description: Notifica ricevuta correttamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /notifiche/variazione/domicili:
    post:
      description: |-
        Ricevi da INAD variazioni di domicili digitali delle ultime 24h
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangedDigitaAddresses'
      responses:
        '200':
          description: Notifica ricevuta correttamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

components:
  securitySchemes:
    bearerAuth:
      $ref: 'components.yaml#/components/securitySchemes/bearerAuth'
    Agid-JWS-Signature:
      $ref: 'components.yaml#/components/securitySchemes/Agid-JWS-Signature'
  responses:
    "400":
      $ref: "components.yaml#/components/responses/400"
    "401":
      $ref: "components.yaml#/components/responses/401"
    "403":
      $ref: "components.yaml#/components/responses/403"
    "404":
      $ref: "components.yaml#/components/responses/404"
    "500":
      $ref: "components.yaml#/components/responses/500"
    "503":
      $ref: "components.yaml#/components/responses/503"
  parameters:
    codice_fiscale_path:
      name: codice_fiscale
      in: path
      required: true
      description: codice fiscale del CITTADINO
      schema:
        $ref: '#/components/schemas/CodiceFiscale'

  schemas:
    Errore:
      $ref: 'components.yaml#/components/schemas/Errore'
    CodiceFiscale:
      $ref: 'components.yaml#/components/schemas/CodiceFiscale'
    Email:
      $ref: 'components.yaml#/components/schemas/Email'
    DigitalAddress:
      $ref: '#/components/schemas/Email'
    CitizenStatus:
      $ref: 'components.yaml#/components/schemas/CitizenStatus'

    CitizenChangeStatusReason:
      type: string
      enum:
        - citizenRegistration
        - electionRequest
        - changeRequest
        - voluntaryCancellationRequest
        - startVerification
        - OKVerificationForElection
        - OKVerificationForChange
        - KOVerificationForElection
        - KOVerificationForChange
        - electionConfirmed
        - changeConfirmed
        - after90dd
        - electionAbolition
        - changeAbolition
        - electionPubblished
        - changePubblished
        - voluntaryCancellationPubblished
        - officeCancellationPubblished
        - officeCancellation
        - after30dd
        - specialCaseCancellation

    ChangedCitizenAddresses:
      $ref: 'inad-unificato.yaml#/components/schemas/ChangedCitizenAddresses'
# L'autenticazione richiede sia un Access Token sia
# un Token di integrità delle richieste. Attualmente
# non credo sia possibile descrivere formalmente
# la struttura di Agid-JWS-Signature.
security:
  - bearerAuth: []
    Agid-JWS-Signature: []
