openapi: 3.0.1
info:
  title: ANPR/AppIO - Integrazione AppIO
  description: |-
    API rese disponibili da ANPR/AppIO al Catalogo delle API previsto nel modello di interoperabilità 
    delle pubbliche amministrazioni accessibile da INAD.
  contact:
    name: AgID - Agenzia per l'Italia Digitale
    url: https://www.agid.gov.it/
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  version: 1.0.0
  termsOfService: https://www.agid.gov.it/
  x-summary: Recupero informazioni su Domicilio Digitale

servers:
  - url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
    description: Generated server url
tags:
  - name: cittadino
    description: Informazioni sui cittadini
    externalDocs:
      description: API reference
      url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO  
paths:
  /{codice_fiscale}/receive_status_change:
    get:
      description: Ricevi lo stato di un CITTADINO
      tags:
      - cittadino
      operationId: put_receive_status_change
      parameters:
        - name: codice_fiscale
          in: path
          required: true          
          description: codice fiscale del CITTADINO per cui è chiesta verifica dello stato
          schema: 
            $ref: '#/components/schemas/CodiceFiscale'
        - name: citizen_status
          in: query
          required: true
          description: nuovo stato del CITTADINO
          schema:
            $ref: '#/components/schemas/CitizenStatus'
        - name: change_status_reason
          in: query
          required: true
          description: motivazione del cambiamento di stato del CITTADINO
          schema:
            $ref: '#/components/schemas/CitizenChangeStatusReason'
        - name: RequestCode
          in: query
          description: request code generato da INAD per l'azione richiesta da INAD, ANPR o AppIO che ha determinato il cambiamento di stato del CITTADINO
          schema: 
            $ref: '#/components/schemas/RequestCode'
        
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /{codice_fiscale}/receive_changed_email:
    put:
      description: ricevi cambiamento email di contatto di un CITTADINO
      operationId: put_receive_changed_email
      tags:
        - cittadino
      parameters:
        - name: codice_fiscale
          in: path
          required: true          
          description: codice fiscale del CITTADINO per cui è chiesta verifica dello stato
          schema: 
            $ref: '#/components/schemas/CodiceFiscale'
        - name: email
          in: query
          required: true
          description: nuovo stato del CITTADINO
          schema:
            $ref: '#/components/schemas/Email'
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO          
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /receive_changed_digita_addresses:
    post:
      description: ricevi variazioni di domicili digitali delle ultime 24h
      requestBody:
        content:          
          application/json:
            schema:
              $ref: '#/components/schemas/List_Changed_DigitalAddress'
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO          
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

components:
  responses:
    "400":
      $ref: "components.yaml#/components/responses/400"
    "401":
      $ref: "components.yaml#/components/responses/401"
    "403":
      $ref: "components.yaml#/components/responses/403"
    "404":
      $ref: "components.yaml#/components/responses/404"
    "500":
      $ref: "components.yaml#/components/responses/500"
    "503":
      $ref: "components.yaml#/components/responses/503"

  schemas:
    Errore:
      $ref: 'components.yaml#/components/schemas/Errore'
    CodiceFiscale: 
      $ref: 'components.yaml#/components/schemas/CodiceFiscale'
    Email:
      $ref: 'components.yaml#/components/schemas/Email'
    DigitalAddress:  
      $ref: '#/components/schemas/Email'

    CitizenStatus:
      type: string
      enum:
        - citizenNotPresent
        - digitalDomicileNotPresent
        - inCharge
        - verify
        - confirmationRequestSent
        - awaitingPublication
        - waitingOfficeCancellation
        - digitalDomicilePresent
    
    RequestCode:
      type: string
      pattern: ^(INAD|ANPR|APPIO)_[0-9]{10,10}
  
    ACK:
      type: string
      description: TODO Cosa significa?
      enum:
        - chargeMade

    CitizenChangeStatusReason:
      type: string
      enum:
        - citizenRegistration
        - electionRequest
        - changeRequest
        - voluntaryCancellationRequest
        - startVerification
        - OKVerificationForElection
        - OKVerificationForChange
        - KOVerificationForElection
        - KOVerificationForChange
        - electionConfirmed
        - changeConfirmed
        - after90dd
        - electionAbolition
        - changeAbolition
        - electionPubblished
        - changePubblished
        - voluntaryCancellationPubblished
        - officeCancellationPubblished
        - officeCancellation
        - after30dd
        - specialCaseCancellation

    List_Changed_DigitalAddress:
      type: array
      maxItems: 1000
      minItems: 0
      items:
        type: object
        additionalProperties: false
        required:
          - codice_fiscale
          - action
        properties:
          codice_fiscale:
            $ref: '#/components/schemas/CodiceFiscale'
          digital_address:
            $ref: '#/components/schemas/DigitalAddress'
          action: 
            type: string
            enum:
              - insert
              - update
              - delete