openapi: 3.0.1
info:
  title: INAD - Integrazione AppIO ed ANPR
  x-summary: Recupera e gestisce i domicili digitali dei cittadini.
  description: |-
    API necessarie all'integrazione tra INAD, IO ed ANPR.

    Queste API permettono:
    - ai CITTADINI utenti di ANPR ed AppIO di gestire il proprio domicilio digitale;
    - ad IO ed ANPR di accedere alle informazioni sui domicili digitali;
    - ad ANPR di comunicare le variazioni di stato dei CITTADINI in caso di morte.

    Inoltre permettono ad INAD:
    - di notificare ad IO ed ANPR le variazioni di stato dei cittadini.

    I `tag` sono utilizzati per identificare i fruitori delle API,
    quelle INAD per esempio sono utilizzate da INAD per notificare
    ad ANPR ed IO le variazioni di stato dei cittadini.

  termsOfService: https://www.agid.gov.it/
  contact:
    name: AgID - Agenzia per l'Italia Digitale
    url: https://www.agid.gov.it/
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  version: 1.0.0
  x-api-id: 000-000-00
servers:
  - url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
    description: Generated server url
tags:
  - name: ANPR
    description: |-
      Operazioni destinate all'ANPR
  - name: app-io
    description: |-
      Operazioni destinate all'app-io
  - name: INAD
    description: |-
      Operazioni destinate all'INADß
  - name: citizen
    description: |-
      Operazioni richieste dal singolo cittadino.
  - name: bulk
    description: |-
      Operazioni associate a più cittadini / bulk.
  - name: notifiche
    description: |-
      Operazioni per gestire notifiche in ingresso e in uscita.

x-components:
  common-headers: &common-headers
    Agid-JWS-Signature:
      $ref: '#/components/headers/Agid-JWS-Signature'
  # Componenti riusabili tramite YAML
  common-responses: &common-responses
    '400':
      $ref: '#/components/responses/400'
    '401':
      $ref: '#/components/responses/401'
    '403':
      $ref: '#/components/responses/403'
    '404':
      $ref: '#/components/responses/404'
    '500':
      $ref: '#/components/responses/500'
    '503':
      $ref: '#/components/responses/503'
# L'autenticazione richiede sia un Access Token sia
# un Token di integrità delle richieste. Attualmente
# non credo sia possibile descrivere formalmente
# la struttura di Agid-JWS-Signature.
security:
  - bearerAuth: []
    Agid-JWS-Signature: []
# Operazioni.
paths:
  /status:
    get:
      description: |-
        Restituisce lo stato dell'API.
      operationId: get_status
      tags:
      - INAD
      - ANPR
      - app-io
      responses:
        <<: *common-responses
        '200':
          description: OK
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Errore'
  /domicilio/{codice_fiscale}:
    get:
      operationId: get_domicilio
      tags:
        - citizen
        - app-io

      description: |-
        Ritorna il domicilio digitale di un CITTADINO

        [UC013](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc013---recupero-domicilio-digitale-di-un-cittadino)


        Q1. l'API di INAD è diversa e permette di ritornare più
            domiciliDigitali https://github.com/vintra73/INAD_API_estrazione/pull/21/files#diff-b573c0eeab15e74bee25c814e64656bc7f291f8a16c431d79d9c3360cbf3283bR454
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        <<: *common-responses
        '200':
            description: riscontro sullo stato del CITTADINO
            headers:
              <<: *common-headers
            content:
              application/json:
                schema:
                  type: object
                  additionalProperties: false
                  required:
                    - domicilio_digitale
                  properties:
                    domicilio_digitale:
                      $ref: '#/components/schemas/DigitalAddress'
    patch:
      operationId: patch_domicilio
      tags:
        - citizen

      description: |-
        Modifica email di contatto di un CITTADINO.

        Usando patch possiamo gestire anche altri campi
        in futuro semplicemente aggiungendo i campi allo schema
        in requestBody.

        [UC008](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc008---inoltro-aggiornamento-email-di-contatto)
        Q1. Questa non passa dalla richiesta di variazione,
        giusto?
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  $ref: '#/components/schemas/Email'
      responses:
        <<: *common-responses
        '200':
            description: Lo stato dell'operazione.
            headers:
              <<: *common-headers
            content:
              application/json:
                schema:
                  # TODO: ACK è usato quasi ovunque per ritornare le response delle notifiche
                  #       qui invece ritorna lo stato di una variazione. Sarebbe meglio
                  #       ritornare l'oggetto completo in modo da permettere al chiamante
                  #       di essere certo che la variazione è stata recepita correttamente.
                  $ref: '#/components/schemas/ACK'

  /domicilio/{codice_fiscale}/status:  # identico a inad_api_for_anpr.yaml
    get:
      operationId: get_domicilio_status
      tags:
      - citizen
      - ANPR
      - app-io
      description: |-
        Recupera lo stato di un CITTADINO a partire dal suo codice fiscale.

        Q1. Dal README non capisco come mai questa richiesta viene fatta prima di ogni altra?
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        <<: *common-responses
        '200':
          description: Lo stato INAD del CITTADINO.
          headers:
            <<: *common-headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitizenStatus'
  /variazioni/{codice_fiscale}:  # Identico a inad_api_for_anpr.yaml
    post:
      operationId: post_citizen_change
      tags:
        - citizen
        - ANPR
        - app-io
      description: |-
        richiesta di elezione, modifica o cancellazione volontaria
        del dominicio digitale di un CITTADINO.

        [UC001](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc001---notifica-richiesta-elezione-domicilio-digitale-di-un-cittadino)
        [UC002](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc001---notifica-richiesta-elezione-domicilio-digitale-di-un-cittadino)
        [UC003](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc001---notifica-richiesta-elezione-domicilio-digitale-di-un-cittadino)
        [UC004](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc001---notifica-richiesta-elezione-domicilio-digitale-di-un-cittadino)


        Q1. Se uno si perda la variazione, come la recupera?
            C'è un metodo `GET` associato per recuperare l'ultima variazione?
            Come recupero lo storico delle variazioni?
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariationRequest'
      responses:
        <<: *common-responses
        '200':
          description: |-
            Riscontro sullo stato del CITTADINO

            Q1. La response è una ricevuta di accettazione o di modifica?
                L'accettazione usa 202.
          headers:
            <<: *common-headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariationStatus'

  /notifiche/unsubscribe-io/{codice_fiscale}:
    post:
      operationId: post_notifiche_unsubscribe_io
      tags:
        - citizen
        - app-io
      description: |-
        INAD riceve la notifica di disiscrizione da parte dell'app-io.

        Il CITTADINO si disiscrive dall'AppIO.
        [UC014](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc014---abbandono-appio)

        Q1. In questo caso la disiscrizione prevede l'eliminazione
            del domicilio digitale?
            L'app IO è un domicilio digitale?
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        <<: *common-responses
        '200':
            $ref: '#/components/responses/NotificaRicevuta'

  /notifiche/morte/{codice_fiscale}:
    post:
      tags:
        - ANPR
        - notifiche
      operationId: post_notifiche_morte
      description: |-
        ANPR notifica ad INAD il decesso del cittadino.
        Questa operazione è accessibile solo da ANPR.

        [UC010](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc010---notifica-decesso)

        Nota: In questo caso, visto che è un tipo di notifica,
        ha anche senso usare un path separato. L'azione sulla
        risorsa /domicilio/{codice_fiscale} è indiretta.

        Ritorna lo stato dell'operazione.
        Nota: Se fosse lo stato del CITTADINO dovrebbe ritornare
        uno dei valori di CitizenStatus. Ritorna invece un ack.

        Potrebbe aver senso ritornare effettivamente il CitizenStatus
        in questo caso, con tutto l'oggetto CitizenAddress finale.

      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        <<: *common-responses
        '200':
          $ref: '#/components/responses/NotificaRicevuta'

  /domicili-modificati:
    get:
      description: |-
        Pubblica l'elenco dei domicili digitali modificati ad una certa data.

        Le informazioni ritornate sono pre-calcolate giornalmente entro le ore 01:00.

        Q1. Questa operation è pubblicata da ANPR/IO o da INAD?
      operationId: get_notifiche_domicili
      tags:
        - app-io
        - ANPR
        - bulk
        - notifiche
      parameters:
        - name: day
          in: query
          required: true
          description: data di riferimento delle variazioni dei domicili digitali richieste
          schema:
            type: string
            format: data
            maxLength: 8
      responses:
        <<: *common-responses
        '200':
          description: Elenco dei domicili che sono stati modificati
          headers:
            <<: *common-headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangedCitizenAddresses'
  /domicili:
    get:
      tags:
      - bulk
      - ANPR
      operationId: get_digital_addresses
      description: |-
        Recupera domicili digitali dei CITTADINI registrati in INAD

        [UC012](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc012---recupero-elenco-domicili-digitali)

        Q1. Quanti domicili ritorna, tutti? In tal caso probabilmente andrebbe inviato compresso.
        Q2. Serve paginare?
      responses:
        <<: *common-responses
        '200':
          description: L'elenco dei cittadini con i relativi domicili digitali
          headers:
            <<: *common-headers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitizenAddresses'

  #
  # Operazioni pubblicate da IO / ANPR per ricevere le notifiche
  #
  /notifiche/variazione/domicilio:
    post:
      description: |-
        Ricevi da INAD una variazione di stato di un CITTADINO.

        [UC007](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc007---notifica-cambio-di-stato-del-cittadino)
      tags:
      - INAD
      operationId: post_receive_status_change
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                codice_fiscale:
                  $ref: '#/components/schemas/CodiceFiscale'
                citizen_status:
                  $ref: '#/components/schemas/CitizenStatus'
                reason:
                  $ref: '#/components/schemas/CitizenChangeStatusReason'
                request_code:
                  $ref: '#/components/schemas/RequestCode'

      responses:
        <<: *common-responses
        "200":
          $ref: '#/components/responses/NotificaRicevuta'

  /notifiche/variazione/domicilio/email:
    post:
      description: |-
        Ricevi da INAD una variazione dell'email di contatto del CITTADINO.

        [UC008](https://github.com/vintra73/verify_integration_INAD_with_ANPR-IO#uc008---inoltro-aggiornamento-email-di-contatto)
      operationId: post_receive_changed_email
      tags:
        - INAD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                codice_fiscale:
                  $ref: '#/components/schemas/CodiceFiscale'
                email:
                  $ref: '#/components/schemas/Email'
      responses:
        <<: *common-responses
        '200':
          $ref: '#/components/responses/NotificaRicevuta'
  /notifiche/variazione/domicili:
    post:
      tags:
        - INAD
        - bulk
      description: |-
        Ricevi da INAD variazioni di domicili digitali delle ultime 24h
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangedCitizenAddresses'
      responses:
        <<: *common-responses
        '200':
          $ref: '#/components/responses/NotificaRicevuta'
components:
  headers:
    Agid-JWS-Signature:
      $ref: 'components.yaml#/components/headers/Agid-JWS-Signature'
  parameters:
    codice_fiscale_path:
      name: codice_fiscale
      in: path
      required: true
      description: codice fiscale del CITTADINO
      schema:
        $ref: '#/components/schemas/CodiceFiscale'
  responses:
    "NotificaRicevuta":
      $ref: '#/components/responses/NotificaRicevuta'
    "400":
      $ref: "components.yaml#/components/responses/400"
    "401":
      $ref: "components.yaml#/components/responses/401"
    "403":
      $ref: "components.yaml#/components/responses/403"
    "404":
      $ref: "components.yaml#/components/responses/404"
    "500":
      $ref: "components.yaml#/components/responses/500"
    "503":
      $ref: "components.yaml#/components/responses/503"
  schemas:
    MaxListItems:
      type: integer
      format: int32
      maximum: 1000
      minimum: 0

    Errore:
      $ref: 'components.yaml#/components/schemas/Errore'
    CodiceFiscale:
      $ref: 'components.yaml#/components/schemas/CodiceFiscale'
    Email:
      $ref: 'components.yaml#/components/schemas/Email'
    DigitalAddress:
      $ref: '#/components/schemas/Email'
    CitizenChangeStatusReason:
      $ref: '#/components/schemas/CitizenChangeStatusReason'
    CitizenStatus:
      $ref: 'components.yaml#/components/schemas/CitizenStatus'
    Operation:
      type: string
      enum:
        - registration&insert
        - insert
        - update
        - delete
    GivenName:
      type: string
      maxLength: 255
    FamilyName:
      type: string
      maxLength: 255
    RequestCode:
      $ref: 'components.yaml#/components/schemas/RequestCode'
    ACK:
      $ref: 'components.yaml#/components/schemas/ACK'
    VariationRequest:
      type: object
      properties:
        given_name:
          $ref: '#/components/schemas/GivenName'
        family_name:
          $ref: '#/components/schemas/FamilyName'
        email:
          $ref: '#/components/schemas/Email'
        digital_address:
          $ref: '#/components/schemas/DigitalAddress'
        operation:
          $ref: '#/components/schemas/Operation'
    VariationStatus:
      type: object
      properties:
        citizen_status:
          $ref: '#/components/schemas/CitizenStatus'
        request_code:
          $ref: '#/components/schemas/RequestCode'

    CitizenAddressStatus: &CitizenAddressStatus
      description: |-
        Le informazioni relative ad un cittadino con
        un domicilio digitale.

        Q: i campi sono entrambi obbligatori?
        Q: che succede se un codice fiscale non ha un domicilio digitale?
        Q: questo schema modella una persona fisica, giusto?
      type: object
      required:
      - codice_fiscale
      - operation
      additionalProperties: false
      properties:
        codice_fiscale:
          # NOTA: qui e altrove, se gli schemi sono in inglese, usare tax_code.
          #       altrimenti usare l'italiano per gli altri campi.
          $ref: '#/components/schemas/CodiceFiscale'
        digital_address:
          $ref: '#/components/schemas/DigitalAddress'
        operation:  # Questi sono i valori di Operation, giusto?
          $ref: '#/components/schemas/Operation'
    CitizenAddress:
      <<: *CitizenAddressStatus
      properties:
        codice_fiscale:
          # NOTA: qui e altrove, se gli schemi sono in inglese, usare tax_code.
          #       altrimenti usare l'italiano per gli altri campi.
          $ref: '#/components/schemas/CodiceFiscale'
        digital_address:
          $ref: '#/components/schemas/DigitalAddress'

    ChangedCitizenAddresses:
      type: object
      additionalProperties: false
      required:
        - count
        - items
      properties:
        count:
          $ref: '#/components/schemas/MaxListItems'
        items:
          type: array
          maxItems: 1000
          minItems: 0
          items:
            allOf:
              - $ref: '#/components/schemas/CitizenAddressStatus'
    CitizenAddresses:
      type: object
      additionalProperties: false
      required:
        - count
        - items
      properties:
        count:
          $ref: '#/components/schemas/MaxListItems'
        items:
          type: array
          minItems: 0
          maxItems: 1000
          items:
            $ref: '#/components/schemas/CitizenAddress'

  securitySchemes:
    bearerAuth:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: |-
        Implementation is compliant with RFC8725.
    Agid-JWS-Signature:
      type: apiKey
      in: header
      name: Agid-JWS-Signature
      description: |-
        JWS Signature header.
        The value of this header is a JWS signature.
        Vedi NFR.03
