openapi: 3.0.1
info:
  title: INAD - Integrazione AppIO
  description: |-
    API rese disponibili da INAD al Catalogo delle API previsto nel modello di interoperabilità
     delle pubbliche amministrazioni accessibile da AppIO.
  contact:
    name: AgID - Agenzia per l'Italia Digitale
    url: https://www.agid.gov.it/
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  version: 1.0.0
servers:
  - url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
    description: Generated server url

paths:
  /citizen/{codice_fiscale}/status:
    $ref: 'inad_api_for_anpr.yaml#/paths/~1citizen~1{codice_fiscale}~1status'
  /{codice_fiscale}/status_check:
    get:
      description: verifica lo stato di un CITTADINOß
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitizenStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'


  /{codice_fiscale}/request_action:
    put:
      description: richiesta di avvio azione di elezione, modifica o cancellazione volontaria del dominicio digitale di un CITTADINO

      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'


      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_Action'

      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Respose_Action'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'


  /{codice_fiscale}/changed_email:
    put:
      description: richiesta di cambiamento email di contatto di un CITTADINO

      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'

        - name: email
          in: query
          required: true
          description: nuova email di contatto del CITTADINO
          schema:
            $ref: '#/components/schemas/Email'

      responses:
        '200':
            description: riscontro sullo stato del CITTADINO
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'


  /{codice_fiscale}/digital_address:
    get:
      description: richiesta del domicilio digitale di un CITTADINO

      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'

      responses:
        '200':
            description: riscontro sullo stato del CITTADINO
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DigitalAddress'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'


  /{codice_fiscale}/appIO_abandonment:
    put:
      description: richiesta di abbandano dell'AppIO da parte del CITTADINO

      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'

      responses:
        '200':
            description: riscontro sullo stato del CITTADINO
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'


  /recovers_changed_digital_addresses:
    get:
      description: recupera variazioni domicili digitali ad uno specifico giorno

      parameters:
        - name: day
          in: query
          required: true
          description: data di riferimento delle variazioni dei domicili digitali richieste
          schema:
            type: string
            format: data

      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List_Changed_DigitalAddress'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

components:
  parameters:
    codice_fiscale_path:
      name: codice_fiscale
      in: path
      required: true
      description: codice fiscale del CITTADINO
      schema:
        $ref: '#/components/schemas/CodiceFiscale'
  responses:
    "400":
      $ref: "components.yaml#/components/responses/400"
    "401":
      $ref: "components.yaml#/components/responses/401"
    "403":
      $ref: "components.yaml#/components/responses/403"
    "404":
      $ref: "components.yaml#/components/responses/404"
    "500":
      $ref: "components.yaml#/components/responses/500"
    "503":
      $ref: "components.yaml#/components/responses/503"
  schemas:
    MaxListItems:
      type: integer
      format: int32
      maximum: 1000
      minimum: 0

    Errore:
      $ref: 'components.yaml#/components/schemas/Errore'
    CodiceFiscale:
      $ref: 'components.yaml#/components/schemas/CodiceFiscale'
    Email:
      $ref: 'components.yaml#/components/schemas/Email'
    DigitalAddress:
      $ref: '#/components/schemas/Email'

    CitizenStatus:
      $ref: 'components.yaml#/components/schemas/CitizenStatus'
    Operation:
      type: string
      enum:
        - registration&insert
        - insert
        - update
        - delete


    Name:
      type: string

    Surname:
      type: string

    Request_Action:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/Operation'
        name:
          $ref: '#/components/schemas/Name'
        surname:
          $ref: '#/components/schemas/Surname'
        email:
          $ref: '#/components/schemas/Email'
        digital_address:
          $ref: '#/components/schemas/DigitalAddress'

    RequestCode:
      type: string
      pattern: ^(INAD|ANPR|APPIO)_[0-9]{10,10}

    Respose_Action:
      type: object
      properties:
        citizen_status:
          $ref: '#/components/schemas/CitizenStatus'
        request_code:
          $ref: '#/components/schemas/RequestCode'

    ACK:
      type: string
      enum:
        - chargeMade

    List_Changed_DigitalAddress:
      type: array
      items:
        type: object
        required:
          - codice_fiscale
          - action
        properties:
          codice_fiscale:
            $ref: '#/components/schemas/CodiceFiscale'
          digital_address:
            $ref: '#/components/schemas/DigitalAddress'
          action:
            type: string
            enum:
              - insert
              - update
              - delete
