openapi: 3.0.1
info:
  title: INAD - Integrazione ANPR
  description: |-
    API rese disponibili da INAD al Catalogo delle API previsto nel modello di interoperabilità
    delle pubbliche amministrazioni accessibile da ANPR.
  contact:
    name: AgID - Agenzia per l'Italia Digitale
    url: https://www.agid.gov.it/
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  version: 1.0.0
servers:
  - url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
    description: Generated server url
tags:
  - name: citizen
  - name: bulk
paths:
  /citizen/{codice_fiscale}/status:
    get:
      tags:
      - citizen
      description: |-
        Recupera lo stato di un CITTADINO a partire dal suo codice fiscale.
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        '200':
          description: Lo stato INAD del CITTADINO.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitizenStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /citizen/{codice_fiscale}/change:
    post:
      description: |-
        richiesta di avvio azione di elezione, modifica o cancellazione volontaria
        del dominicio digitale di un CITTADINO.
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariationRequest'
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariationStatus'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /citizen/{codice_fiscale}/email:
    post:
      operationId: post_citizen_email
      tags:
        - citizen
      description: |-
        Modifica email di contatto di un CITTADINO.

        Nota: se la modifica dell'email e la notifica di morte
        sono entrambe accessibili da ANPR può aver senso
        avere una sola operation dove passare la variazione
        nel requestBody o tramite il metodo PATCH.
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  $ref: '#/components/schemas/Email'
      responses:
        '200':
            description: Lo stato dell'operazione.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /citizen/{codice_fiscale}/death:
    post:
      operationId: post_citizen_death
      description: |-
        ANPR notifica ad INAD il decesso del CITTADINO.
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        '200':
            description: |-
              Ritorna lo stato dell'operazione.
              Se fosse lo stato del CITTADINO dovrebbe ritornare
              uno dei valori di CitizenStatus
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ACK'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'


  /modified-addresses:
    get:
      tags:
      - bulk
      operationId: get_modified_addresses
      description: |-
        recupera variazioni domicili digitali digitali ad uno specifico giorno
        DOMANDA: ritorna tutte le modifiche a partire da una certa data?
      parameters:
        - name: date
          in: query
          required: true
          description: data di riferimento delle variazioni dei domicili digitali richieste
          schema:
            type: string
            format: date
            example: '2020-01-01'
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangedDigitalAddresses'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'

  /digital-addresses:
    get:
      tags:
      - bulk
      operationId: get_digital_addresses
      description: recupera domicili digitali dei CITTADINI registrati in INAD
      # parameters: limit?  offset?
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalAddresses'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'



components:
  parameters:
    codice_fiscale_path:
      name: codice_fiscale
      in: path
      required: true
      description: codice fiscale del CITTADINO
      schema:
        $ref: '#/components/schemas/CodiceFiscale'
  responses:
    "400":
      $ref: "components.yaml#/components/responses/400"
    "401":
      $ref: "components.yaml#/components/responses/401"
    "403":
      $ref: "components.yaml#/components/responses/403"
    "404":
      $ref: "components.yaml#/components/responses/404"
    "500":
      $ref: "components.yaml#/components/responses/500"
    "503":
      $ref: "components.yaml#/components/responses/503"
  schemas:
    MaxListItems:
      type: integer
      format: int32
      maximum: 1000
      minimum: 0

    Errore:
      $ref: 'components.yaml#/components/schemas/Errore'
    CodiceFiscale:
      $ref: 'components.yaml#/components/schemas/CodiceFiscale'
    Email:
      $ref: 'components.yaml#/components/schemas/Email'
    DigitalAddress:
      $ref: '#/components/schemas/Email'

    Operation:
      type: string
      enum:
        - registration&insert
        - insert
        - update
        - delete
    GivenName:
      type: string
      maxLength: 255
    FamilyName:
      type: string
      maxLength: 255
    RequestCode:
      $ref: 'components.yaml#/components/schemas/RequestCode'
    ACK:
      $ref: 'components.yaml#/components/schemas/ACK'
    CitizenStatus:
      $ref: 'components.yaml#/components/schemas/CitizenStatus'
    VariationRequest:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/Operation'
        given_name:
          $ref: '#/components/schemas/GivenName'
        family_name:
          $ref: '#/components/schemas/FamilyName'
        email:
          $ref: '#/components/schemas/Email'
        digital_address:
          $ref: '#/components/schemas/DigitalAddress'

    VariationStatus:
      type: object
      properties:
        citizen_status:
          $ref: '#/components/schemas/CitizenStatus'
        request_code:
          $ref: '#/components/schemas/RequestCode'

    ChangedDigitalAddresses:
      type: object
      additionalProperties: false
      required:
        - count
        - items
      properties:
        count:
          $ref: '#/components/schemas/MaxListItems'
        items:
          type: array
          items:
            type: object
            required:
              - codice_fiscale
              - action
            properties:
              codice_fiscale:
                # NOTA: qui e altrove, se gli schemi sono in inglese, usare tax_code.
                #       altrimenti usare l'italiano per gli altri campi.
                $ref: '#/components/schemas/CodiceFiscale'
              digital_address:
                $ref: '#/components/schemas/DigitalAddress'
              operation:  # Questi sono i valori di Operation, giusto?
                $ref: '#/components/schemas/Operation'

    DigitalAddresses:
      type: object
      additionalProperties: false
      required:
        - count
        - items
      properties:
        count:
          $ref: '#/components/schemas/MaxListItems'
        items:
          type: array
          items:
            type: object
            required:
              - codice_fiscale
            properties:
              codice_fiscale:
                $ref: '#/components/schemas/CodiceFiscale'
              digital_address:
                $ref: '#/components/schemas/DigitalAddress'
