openapi: 3.0.1
info:
  title: INAD - Integrazione ANPR
  description: |-
    API rese disponibili da INAD al Catalogo delle API previsto nel modello di interoperabilità delle pubbliche amministrazioni accessibile da ANPR.
  contact:
    name: AgID - Agenzia per l'Italia Digitale
    url: https://www.agid.gov.it/
  license:
    name: CC BY-NC-SA 4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/
  version: 1.0.0
servers:
  - url: https://api.inad.gov.it/rest/inad/v1/integration_ANPR_AppIO
    description: Generated server url
tags: []
paths:
  /citizen/{codice_fiscale}/status:
    get:
      description: |-
        Recupera lo stato di un CITTADINO a partire dal suo codice fiscale.
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        '200':
          description: Lo stato INAD del CITTADINO.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/CitizenStatus'

  /citizen/{codice_fiscale}/change:   
    post:
      description: |-
        richiesta di avvio azione di elezione, modifica o cancellazione volontaria 
        del dominicio digitale di un CITTADINO.
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      requestBody:      
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAction'
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponseAction'

  /citizen/{codice_fiscale}/email:
    post:
      description: Modifica email di contatto di un CITTADINO
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
        - name: email
          in: query
          required: true
          description: nuova email di contatto del CITTADINO
          schema:  
            $ref: '#/components/schemas/Email'
      responses:
        '200':
            description: riscontro sullo stato del CITTADINO          
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/ACK'


  /modified-addresses:
    get:
      description: |-
        recupera variazioni domicili digitali digitali ad uno specifico giorno
        DOMANDA: ritorna tutte le modifiche a partire da una certa data?
      parameters:
        - name: date
          in: query
          required: true
          description: data di riferimento delle variazioni dei domicili digitali richieste
          schema:
            type: string
            format: date
            example: '2020-01-01'
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO          
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ChangedDigitalAddresses'

  /digital-addresses:
    get:
      description: recupera domicili digitali dei CITTADINI registrati in INAD
      # parameters: limit?  offset?
      responses:
        '200':
          description: riscontro sullo stato del CITTADINO          
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/DigitalAddresses'

  
  /{codice_fiscale}/death_notification:
    put:
      description: notifica di decesso del CITTADINO per cui è richiesto l'aggiornamento della email di contatto
      parameters:
        - $ref: '#/components/parameters/codice_fiscale_path'
      responses:
        '200':
            description: riscontro sullo stato del CITTADINO          
            content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/ACK'

components:
  parameters:
    codice_fiscale_path:
      name: codice_fiscale
      in: path
      required: true
      description: codice fiscale del CITTADINO
      schema:  
        $ref: '#/components/schemas/CodiceFiscale'
  responses:
    "400":
      $ref: "components.yaml#/components/responses/400"
    "401":
      $ref: "components.yaml#/components/responses/401"
    "403":
      $ref: "components.yaml#/components/responses/403"
    "404":
      $ref: "components.yaml#/components/responses/404"
    "500":
      $ref: "components.yaml#/components/responses/500"
    "503":
      $ref: "components.yaml#/components/responses/503"
  schemas:
    MaxListItems:
      type: integer
      format: int32
      maximum: 1000
      minimum: 0

    Errore:
      $ref: 'components.yaml#/components/schemas/Errore'
    CodiceFiscale: 
      $ref: 'components.yaml#/components/schemas/CodiceFiscale'
    Email:
      $ref: 'components.yaml#/components/schemas/Email'
    DigitalAddress:  
      $ref: '#/components/schemas/Email'
    CitizenStatus:
      type: string
      enum:
        - citizenNotPresent
        - digitalDomicileNotPresent
        - inCharge
        - verify
        - confirmationRequestSent
        - awaitingPublication
        - waitingOfficeCancellation
        - digitalDomicilePresent

    Actions:
      type: string
      enum:
        - insert
        - update
        - delete
    Operation:
      type: string
      enum:
        - registration&insert
        - insert
        - update
        - delete
    GivenName:    
      type: string
      maxLength: 255
    FamilyName:
      type: string
      maxLength: 255
    RequestAction:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/Operation'
        given_name:
          $ref: '#/components/schemas/GivenName'
        family_name: 
          $ref: '#/components/schemas/FamilyName'
        email:
          $ref: '#/components/schemas/Email'
        digital_address:
          $ref: '#/components/schemas/DigitalAddress'

    RequestCode:
      type: string
      pattern: ^(INAD|ANPR|APPIO)_[0-9]{10,10}
  
    ResponseAction:
      type: object
      properties:        
        citizen_status:
          $ref: '#/components/schemas/CitizenStatus'
        request_code:
          $ref: '#/components/schemas/RequestCode'

    ACK:
      type: string
      enum:
        - chargeMade

    ChangedDigitalAddresses:
      type: object
      additionalProperties: false
      required:
        - count
        - items
      properties:
        count:
          $ref: '#/components/schemas/MaxListItems'
        items:
          type: array
          items:
            type: object
            required:
              - codice_fiscale
              - action
            properties:
              codice_fiscale:
                $ref: '#/components/schemas/CodiceFiscale'
              digital_address:
                $ref: '#/components/schemas/DigitalAddress'
              action:
                $ref: '#/components/schemas/Actions'

    DigitalAddresses:
      type: object
      additionalProperties: false
      required:
        - count
        - items
      properties:
        count:
          $ref: '#/components/schemas/MaxListItems'
        items:
          type: array
          items:
            type: object
            required:
              - codice_fiscale         
            properties:
              codice_fiscale:
                $ref: '#/components/schemas/CodiceFiscale'
              digital_address:
                $ref: '#/components/schemas/DigitalAddress'
          
